.mobileitem
{
    display: flex;
    flex-direction: row;
}
.cardimg{
    width: 250px;
}

.orderButtondiv{
    display: flex;
    align-items: center;
    justify-content: end;
}
.orderButton{
    background-color: #b45b35;
    padding: 5px 20px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    margin: 5px;
    color: white;
}

@media (max-width:767px){

    .mobileitem{
        flex-direction: column;
    }
    .cardimg{
        width: 100%;
    }

}